/* Resets */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url("./images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  font-size: 18px;
}

main {
  padding: 0 1.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0 75px 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: #555;
}

h1,
h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-weight: 400;
  color: #999;
}

a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

.keep-track-info-container img,
.access-anywhere-info-container img {
  width: 100%;
  max-width: 500px;
}

section {
  margin-top: 15rem;
}

section:nth-child(1) {
  margin-top: 0;
}

.title-description {
  margin: 25px 0;
  margin-bottom: 70px;
}

.download-btns {
  margin: 10px 0 30px 0;
}

.download-btns li {
  margin: 2rem 0;
}

.download-btns a {
  display: block;
  color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  border-radius: 5rem;
}

.download-ios-btn {
  background-color: hsl(171, 66%, 44%);
}

.download-mac-btn {
  background-color: hsl(233, 100%, 69%);
}

.download-ios-btn:hover {
  transition: background-color 0.3s ease;
  background-color: hsl(171, 66%, 65%);
}

.download-mac-btn:hover {
  transition: background-color 0.3s ease;
  background-color: hsl(233, 100%, 80%);
}

.feature-info-list p {
  margin: 10px 0;
}

.feature-info-list li {
  margin-top: 65px;
}

.feature-info-list p {
  margin-top: 15px;
}

.workflow-info-container {
  margin-top: 8rem;
}

.workflow-list img {
  padding: 6rem 0 3rem 0;
  width: 60px;
}

.companies-logo-list li {
  padding: 3rem 0;
}

.companies-logo-list li:first-child {
  padding-top: 0;
}

.companies-logo-list li:last-child {
  padding-bottom: 0;
}

.download-for-devices-container {
  padding-bottom: 17rem;
}

footer {
  background-color: #eee;
  padding: 4.5rem 0 1.5rem 0;
}

footer img,
.footer-links-list,
.footer-links-list li {
  padding: 1rem 0;
}

.social-media-links {
  padding-bottom: 2.5rem;
}

.footer-links-list a {
  padding: 5px;
}

.footer-links-list a:hover {
  transition: color 0.3s ease;
  color: hsl(171, 66%, 44%);
}

.social-media-links li {
  display: inline;
  padding: 0 1.25rem;
}

.social-media-links a {
  color: #000;
  font-size: 32px;
  padding: 0 15px;
}

.social-media-links a:hover {
  transition: color 0.3s ease;
  color: hsl(171, 66%, 44%);
}

.social-media-links img {
  position: relative;
  top: 20px;
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("./images/bg-header-desktop.png");
  }

  .title-description {
    margin: 25px auto;
    width: 45%;
    margin-bottom: 45px;
  }

  .download-btns {
    margin: 0;
  }

  .download-btns li {
    display: inline-block;
    width: 20%;
    margin: 0 0.25rem 2rem 0.25rem;
    margin-top: 0;
  }

  .features-flex {
    display: flex;
    justify-content: center;
  }

  .keep-track-info-container p,
  .access-anywhere-info-container p {
    margin-bottom: 8rem;
  }

  .keep-track-info-container img {
    width: 900px;
    max-width: 70%;
    position: relative;
    left: -200px;
    flex: 1.5;
  }

  .feature-info-list {
    flex: 1;
    text-align: left;
  }

  .feature-info-list p {
    margin-right: 10rem;
  }

  .access-anywhere-info-container img {
    width: 80%;
    max-width: none;
  }

  .workflow-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-items: baseline;
  }

  .blacklist-icon,
  .a-icon {
    height: 50px;
  }

  .workflow-list li {
    width: 100%;
  }

  .workflow-list p {
    margin: 0 1.5rem;
  }

  .companies-logo-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  footer {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .footer-logo {
    margin: 0 auto;
    margin-top: 0.75rem;
    width: 75px;
  }

  .footer-links-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  /* Order of the grid which shows first and last in the footer */
  .footer-links-list li:nth-child(1) {
    order: 1;
  }
  .footer-links-list li:nth-child(2) {
    order: 4;
  }
  .footer-links-list li:nth-child(3) {
    order: 2;
  }
  .footer-links-list li:nth-child(4) {
    order: 5;
  }
  .footer-links-list li:nth-child(5) {
    order: 3;
  }

  .social-media-links {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .social-media-links li {
    padding: 0 0.2rem;
  }
}
