/* Resets */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url("./images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  font-size: 18px;
}

main {
  padding: 0 1.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0 75px 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 36px;
}

p {
  font-weight: 400;
}

a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

.keep-track-info-container img,
.access-anywhere-info-container img {
  width: 100%;
  max-width: 500px;
}

section {
  margin-top: 15rem;
}

section:nth-child(1) {
  margin-top: 0;
}

.title-description {
  margin: 25px 0;
  margin-bottom: 70px;
}

.download-btns {
  margin: 10px 0 30px 0;
}

.download-btns li {
  margin: 2rem 0;
}

.download-btns a {
  display: block;
  color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  border-radius: 5rem;
}

.download-ios-btn {
  background-color: hsl(171, 66%, 44%);
}

.download-mac-btn {
  background-color: hsl(233, 100%, 69%);
}

.feature-info-list p {
  margin: 10px 0;
}

.feature-info-list li {
  margin-top: 65px;
}

.feature-info-list p {
  margin-top: 15px;
}

.workflow-info-container {
  margin-top: 8rem;
}

.workflow-list img {
  padding: 6rem 0 3rem 0;
  width: 60px;
}

.companies-logo-list li {
  padding: 3rem 0;
}

.companies-logo-list li:first-child {
  padding-top: 0;
}

.companies-logo-list li:last-child {
  padding-bottom: 0;
}

.download-for-devices-container {
  padding-bottom: 17rem;
}

footer {
  background-color: #eee;
  padding: 4.5rem 0 1.5rem 0;
}

footer img,
.footer-links-list,
.footer-links-list li {
  padding: 1rem 0;
}

.social-media-links {
  padding-bottom: 2.5rem;
}

.footer-links-list a {
  padding: 5px;
}

.social-media-links li {
  display: inline;
  padding: 0 1.25rem;
}

.social-media-links a {
  padding: 0 15px;
}

.social-media-links img {
  position: relative;
  top: 20px;
}
